{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<!-- Create table using for loop -->
<h1 class="display-6 fw-bold lh-1 mb-3">Look Back At Your Previous Financial Mistakes</h1>
<p class="display-10 fw-bold lh-1 mb-3">Imagine being proud of investing your hard earned money into digital assets. You can't even see it</p>
<table class="table container">
    <thead>
        <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Number of Coins</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Price</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Date & Time</th>
        </tr>
    </thead>
    <tbody>
        {% for portfolio in txs %}
        <tr>
            <td>{{ portfolio.crypto }}</td>
            <td>{{ portfolio.num_of_coins }}</td>
            <td>{{ portfolio.tx_type }}</td>
            <td>{{ portfolio.price_per_coin | usd }}</td>
            <td>{{ portfolio.total_amount_tx | usd }}</td>
            <td>{{ portfolio.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}