{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}

<!-- Create table using for loop -->
<h2 class="display-6 fw-bold lh-1 mb-3">Hi, Try Not To Lose Your Money 🚀</h2>
<h6 class="display-10 fw lh-1 mb-3 container">Track your Crypto Portfolio with a few clicks</h4>
<br>
<table class="table container">
    <thead>
        <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Number of Coins</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for portfolio in crypto_portfolio %}
        <tr>
            <!-- uppercase text row -->
            <td style="text-transform:uppercase">{{ portfolio.crypto }}</td>
            <td>{{ portfolio.num_of_coins }}</td>
            <td>{{ portfolio.price_per_coin }}</td>
            <td>{{ portfolio.total_amount | usd }}</td>
        </tr>
        {% endfor %}
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3" >Total:</td>
            <td class="border-0">{{ total_value | usd}}</th>
        </tr>
    </tfoot>
    </tbody>
</table>

<br>
<br>

<div class="container">

<h3 class="display-10 fw-bold lh-1 mb-3 container"> Educational Content To Help You Be A Better Investor*</h3>
<p class="display-10 fw lh-1 mb-3 container">*Not Financial Advice</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/7HWlx-rD5NU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6jQAJ-uf0OA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xRBMWp6fiX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gwQeZelImb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}