{% extends "layout.html" %}

{% block title %}
Price
{% endblock %}

{% block main %}
<form action="/price" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="crypto" name="crypto"
            placeholder="Crypto" type="text">
    </div>

    <button class="btn btn-primary" type="submit">Search</button>
</form>

{{ final_price}}

<canvas id="myChart" style="width:100%;max-width:600px;" class="container"></canvas>

<script>
    var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                borderColor: "red",
                fill: false
            }]
        },
        options: {
            legend: { display: false }
        }
    });
</script>

{% endblock %}