{% extends "layout.html" %}

{% block title %}
Price
{% endblock %}

{% block main %}
<h1 class="display-5 fw-bold lh-1 mb-3">Interactive Live Price Chart</h1>
<p class="display-10 fw lh-1 mb-3 container">We've integrated Tradingview's charting software so you can feel good about your bad investments 😂</p>
<br>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_8ff0a"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">Interactive Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "BTCUSD",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_8ff0a"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->




{% endblock %}